<div class="row">
  <aside class="col-md-4">
    <h3>
      <%= @user.name %>
    </h3>
    <%= render "shared/issue_search" %>
  </aside>
  <div class="col-md-8" align="center">
    <% if @user.issues.any? %>
      <h3>Your Issues (<%= @user.issues.where.not(status: 'closed').count %>)</h3>
      <%= render 'layouts/issues_table' %>
    <% end %>
  </div>
</div>