<h3>Search For issue</h3>
<%= form_tag issues_path, :method => 'get' do %>
  <h4 align="left">search</h4>
  <%= text_field_tag :search, params[:search] %>
  <h4 align="left">status</h4>
  <%= select_tag :status, options_for_select(Issue.statuses.map { |key, value| [key.humanize, key] }) %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>