<h3>Search For issue</h3>
<%= form_tag issues_path, :method => 'get' do %>
  <h4 align="left">title</h4>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>